{% load static %}

<div class="search">
    <h3>Search:</h3>
    <form method="get" action="">
        {% for field in search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}: </label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Search</button>
    </form>
</div>

<div class="filters">
    <h3>Filter by:</h3>
    <ul>
        <li><a href="?filter=status:published">Published</a></li>
        <li><a href="?filter=category:Technology">Technology</a></li>
    </ul>
</div>


{% for post in object_list %}
    <article>
        <h2>{{ post.title }} | {{ post.status }} by {{ post.author }}</h2>
        <p>Categories: {{ post.category }}</p>
        <p>{{ post.body|truncatewords:50 }}</p>
        <p>Views: {{ post.view_count }}</p>
    </article>
{% endfor %}

{% include "viewcraft/pagination.html" %}
